<div class="ui-layout-container" style="zoom: 1; overflow: hidden; width: auto; height: auto; margin: 0px; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;">
  <div class="ui-layout-center">
    <img class="img" [src]="imageToShow"
         alt="Loading..."
         *ngIf="!isImageLoading; else noImageFound">
    <ng-template #noImageFound>
      <div>Loading...</div>
    </ng-template>
    <div class="tab-content">
        <div class="tab-pane fade" id="list-{{user.name}}" role="tabpanel"
             *ngFor="let user of this.messages">
          <div *ngIf='user.status !== undefined && user.status.queue !== undefined'>
            <div class="queue" *ngFor="let item of user.status.queue">{{generateTime(item.time)}} {{item.argument.join(' ')}}</div>
          </div>
          <div class="current"  *ngIf='user.status !== undefined && user.status.current !== undefined'>{{generateTime(user.status.current.time)}} {{user.status.current.args.join(' ')}}</div>
          <div *ngIf='user.status !== undefined && user.status.history !== undefined'>
            <div class="history" *ngFor="let history of user.status.history">{{generateTime(history.time)}} {{history.args.join(' ')}}</div>
          </div>
      </div>
    </div>


  </div>

  <div class="ui-layout-north" id="command">
    <div class="input-group">
      <label class="switch">
        <input id="reload" name="reload" type="checkbox" class="default" (click)="setUpdateInterval()">
        <span class="slider round"></span>
      </label>
      <button class="btn-blue" (click)="reload()"><fa-icon [icon]="faRedo"></fa-icon></button>
      <div class="input-group-prepend">
        <div class="input-group-text" id="user-name"></div>
      </div>
      <input type="text" id="uuid" class="form-control d-none" />
      <input type="text" id="cmd" class="form-control" />
      <input type="text" id="val" class="form-control" value="0" />

      <div class="input-group-append">
        <button class="addit inc btn btn-lg btn-outline-dark" (click)="inc()">+</button>
        <button class="addit dec btn btn-lg btn-outline-dark" (click)="dec()">-</button>
        <button id="sendCommand" class="btn btn-lg btn-primary" (click)="send()">Send</button>
        <button id="sendCommandToAll" class="btn btn-lg btn-secondary" (click)="sendToAll()">To All</button>
      </div>
    </div>
  </div>

  <div class="ui-layout-south">
    <div class="list-group">
      <div *ngFor = "let msg of this.logs"><button (click)="send2(msg)" class="btn-blue-small"><fa-icon [icon]="faPlay"></fa-icon></button>{{msg.time}} {{msg.display}}</div>
    </div>
  </div>

  <div class="ui-layout-east">
    <div class="list-group">
      <button *ngFor="let cmd of commands" class='btn btn-outline-secondary {{cmd.type}}' (click)="setCmd(cmd.name, cmd.type)">{{cmd.name}}</button>
    </div>
  </div>

  <div class="ui-layout-west">
    <div class="list-group" id="users" role="tablist">
      <a class="list-group-item list-group-item-action"
        data-toggle="list"
         role="tab"

         *ngFor="let user of this.messages"
         id="{{user.uuid}}"
         name="{{user.name}}"
         href="#list-{{user.name}}"
         (click)="selectUser(user.uuid, user.name)">
        <button (click)="reload(user.uuid)" class="btn-blue"><fa-icon [icon]="faRedo"></fa-icon></button>
        <span class="badge badge-primary badge-pill m-1" *ngIf='user.status !== undefined && user.status.queue !== undefined'>{{user.status.queue.length}}</span>
        {{user.name}}
      </a>
    </div>
  </div>
</div>

